.pin
	position absolute

	&--first
		top 90px
		left 125px

	&--second
		top 130px
		left 170px

	&--third
		top 80px
		left 250px
		animation pin-move 55s cubic-bezier(0.26, 0.05, 0.73, 0.96) infinite
	
	&--pon-one
		top 197px
		left 143px
		animation pon-one-move 100s cubic-bezier(0.26, 0.05, 0.73, 0.96) infinite
		
		// &:hover
		// 	animation-play-state paused
	
	&--pon-two
		top 127px
		left 240px
		transform translate(0, 0)
		animation pon-two-move 126s cubic-bezier(0.26, 0.05, 0.73, 0.96) infinite
		opacity .999

		// &:hover
		// 	animation-play-state paused

	&__pointer
		slow all
		
		size 24px
		position relative
		cursor pointer
		
		&:after
			@extend $pseudo-center
			bicon(round-pointer-blue, 24)
			
			.map &
				bicon(round-pon-blue, 20)
	
	&--show &__pointer
	&__pointer:hover
		transform translateY(-5px)
		
		.map &
			transform translateY(0)
		
	&__ring
		@extend $abs
		slow all
		
		width 40px
		height 15px
		border 3px solid blue
		bottom -8px
		left -8px
		border-radius 50%
		animation pulsate 3s ease-out infinite
		opacity 0
		
		.map &
			width 40px
			height @width
			top -10px
			right -10px
			bottom -10px
			left -10px
			margin auto
			border-width 10px
			animation pulsate-in-map 2s ease-out infinite

	&__card
		slow all
		
		position absolute
		bottom calc(100% + 15px)
		background-color white
		width 185px
		text-align left
		border 1px solid blue
		border-radius 2px
		left -85px
		right -85px
		margin auto
		transform translateY(20%)
		opacity 0
		visibility hidden
		cursor pointer
		
		&:after
			content ''
			position absolute
			bottom -6px
			left 87px
			border-bottom 5px solid blue
			border-right 5px solid blue-shadow
			border-top 5px solid transparent
			border-left 5px solid transparent
			transform rotate(45deg)
	
	&--show &__card
	&__card:hover
	&__pointer:hover + &__card
		opacity 1
		visibility visible
		transform translateY(0)
	
	&__title
		@extend $text-14
		
		padding 4px 8px
		background-color gray-lightest
	
	&__texts
		padding-left 9px
		padding-top 2px
		padding-bottom 5px
	
	&__text
		@extend $text-12
		
		color gray
		
		&--blue
			color blue
	
	&__face
		@extend $font-reset
		size 60px
		
		position absolute
		border-radius 30px
		border 1px solid blue
		background-color blue
		overflow hidden
		top 50%
		right 5px
		transform translateY(-50%)
	
	&__img
		width 100%
		height 100%
		border-radius 50%
	
	@media (min-width tablet)
		&--first
			top 195px
			left 230px

		&--second
			top 270px
			left 340px

		&--third
			top 176px
			left 489px
			// transform translate(0, 0)
			animation pin-move-tablet 80s cubic-bezier(0.26, 0.05, 0.73, 0.96) infinite

		&--pon-one
			top 326px
			left 236px
			// transform translate(0, 0)
			animation pon-one-move-tablet 100s cubic-bezier(0.26, 0.05, 0.73, 0.96) infinite
			
			// &:hover
			// 	animation-play-state paused
		
		&--pon-two
			top 214px
			left 393px
			// transform translate(0, 0)
			animation pon-two-move-tablet 126s cubic-bezier(0.26, 0.05, 0.73, 0.96) infinite
			
			// &:hover
			// 	animation-play-state paused