.page
	&--registration
		padding-top 70px
	
	&--enter
		padding-top 115px
	
	&__title
		&--reg
			@extend $title-reg
		
		&--enter
			@extend $title-30, $fw300
			
			text-align center
			margin-bottom 25px