.page
	background-image url('../img/template__bg.png')
	
	&--registration
	&--enter
		padding-bottom 40px
		padding-top 40px
	
	&--gallery
		overflow hidden

	&__title
		&--reg
			@extend $title-reg
		
		&--enter
			@extend $title-30, $fw300
			
			text-align center
			margin-bottom 25px