html
	@extend $main-fz, $main-ff
	
	-webkit-font-smoothing auto
	-moz-osx-font-smoothing auto

body
	min-width c-mobile
	font-weight light
	color gray-dark
	background-image url('/img/template__bg.png')

.no-scroll
	overflow hidden