//- инклюды
include ../sprites/svg-sprite
include ../header/header
include ../logo/logo
include ../burger/burger
include ../navigation/navigation
include ../store-btn/store-btn
include ../role-btn/role-btn

block page_id

<!DOCTYPE html>
html(lang='ru')
	head
		block title
		include head
	body
		+header
			+logo
			+burger
			+navigation
				+navItem('#', 'О Jata.ru')(title='О Jata.ru')
				+navItem('#', 'Как это работает?')(title='Как это работает?')
				+navItem('#', 'Контакты')(title='Контакты')
				+navItem('#', 'Рекламные места')(title='Рекламные места')
				+navItem('#', 'Блог/новости')(title='Блог/новости')
				+navItem('#', 'Рекламодателям')(title='Рекламодателям')
				+navItem('#', 'Владельцам ТС')(title='Владельцам ТС')
				+navItem('#', 'Войти')(
					mods=['enter']
					title='Войти')

		block content

		//- загружаем жЫквери с цдн
		script(
			src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
		//- если не загружается, то подтягиваем свой
		script window.jQuery || document.write('<script src=\'js/jquery.min.js\'><\/script>')
		script(
			src='js/main.js')