include ../../blocks/address/address
include ../../blocks/burger/burger
include ../../blocks/copy/copy
include ../../blocks/footer/footer
include ../../blocks/foot-nav/foot-nav
include ../../blocks/header/header
include ../../blocks/logo/logo
include ../../blocks/message/message
include ../../blocks/navigation/navigation
include ../../blocks/phone-number/phone-number
include ../../blocks/store-btn/store-btn

block includes

block page_id

<!DOCTYPE html>
html(lang='ru')
	head
		block title
		include head
	body
		header.header
			+header
				+logo(mods=['index'])
				+navigation(mods=['index'])
					+navItem('/about.html', 'О Jata.ru')(title='О Jata.ru')
					+navItem('/how.html', 'Как это работает?')(title='Как это работает?')
					+navItem('/contacts.html', 'Контакты')(title='Контакты')
					+navItem('/cap.html', 'Рекламные места')(title='Рекламные места')
					+navItem('/cap.html', 'Галерея')(title='Галерея')
				+hBtn('http://dev_main.jata.ru/', 'Войти')(mods=['enter'])
				if pageId === 'foradv'
					+hBtn('/index.html', 'Водителям')(mods=['for-advers'])
				else
					+hBtn('/foradv.html', 'Рекламодателям')(mods=['for-advers'])
				+burger(mods=['mb14'])
		
		if pageId === 'foradv'
			main.main.main--foradv
				block content
		else
			main.main
				block content

		footer.footer
			+footer
				+footNav
					+fnHalf
						+fnItem('/about.html', 'О компании')
						+fnItem('/cap.html', 'Правила пользования')
						+fnItem('/cap.html', 'Защита данных')
						+fnItem('/how.html', 'Вопросы и ответы')
					+fnHalf
						+fnItem('/contacts.html', 'Контакты')
						+fnItem('/cap.html', 'О нас')
						+fnItem('/cap.html', 'Команда')
						+fnItem('/cap.html', 'Пресса о нас')

				+fInfo
					+address('г. Санкт-Петербург, Московский&nbsp;проспект, 97а', 'https://goo.gl/XVmE2b', '(10:00-22:00)')
					
					+phoneNumber('+78003757575', '8 (800)', '375-75-75')

					//- +fBtns(ng-show="device != 'desktop'")
					//- 	-var storeBtnMods = ['tar', 'mb10']
					//- 	+storeBtn('apple')(mods=storeBtnMods)
					//- 	+storeBtn('google')(mods=storeBtnMods)

					+copy(2016, 'Jata All Rights Reservet')

		.modals
			+message('Спасибо за предоставленную информацию. Мы отправили Вам инструкцию на ваш E-mail.')(mods='success')
			+message('Во время отправки данных произошла ошибка. Пожалуйста, попробуйте позднее.')(mods='fail')

		//- загружаем жЫквери с цдн
		script(
			src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
		//- если не загружается, то подтягиваем свой
		script window.jQuery || document.write('<script src=\'js/jquery.min.js\'><\/script>')
		script(src='js/main.js')
		<script id="__bs_script__">//<![CDATA[document.write("<script async src='http://HOST:7778/browser-sync/browser-sync-client.2.12.7.js'><\/script>".replace("HOST", location.hostname));//]]></script>