.scroll-btn
	display none
	position absolute
	left 0
	bottom 20px
	width 100%
	text-align center
	
	.section--promo &
		bottom -119px
	
	&__btn
		@extend $btn-reset
		bicon(mouse, 40, 60)
		slow all
		
		transform translateY(0)
		position relative
		
		&:hover
			transform translateY(-5px)
		
		&:before
			@extend $pseudo-center-old
			
			width 42px
			height 60px
			animation mouse-pulsate 6s ease-out infinite
			background-color rgba(white, .5)
			border-radius 21px
	
	@media (min-width tablet)
		display block