.phone-number
	text-align right
	
	&--mb15
		margin-bottom 15px
	
	.ie10 &
	.ie11 &
		max-width 210px
	
	&__number
		@extend $text-22, $fw300

		display inline-block
		color white
		// padding-left 22px
		position relative

		&:before
			@extend $pseudo-left
			bicon(handset-phone-red, 16)
			
			left -22px
	
		&--fat
			font-weight extrabold
	
	@media (min-width 736px)
		margin-bottom 10px
	
	@media (min-width tablet)
		.ie10 &
		.ie11 &
			margin-bottom 10px
			max-width 100%