.input
	position relative
	margin 18px 0
	
	&--fxb46p
		flex-basis 46%
	
	&--fxb100p
		flex-basis 100%
	
	&__input
		width 100%
		border none
		border-bottom 2px solid gray-border
		position relative
		background-color transparent
	
	&__label
		@extend $text-14, $fw500
		slow all
		
		transform-origin left center
		color gray-border
		position absolute
		top 0
		left 0
	
	&__input:focus + &__label
	&__input[data-filled='true'] + &__label
		transform translateY(-16px) scale(.75)
	

	&__input[data-filled='true']:valid + &__label
		color blue
	
	&__input[data-filled='true']:invalid + &__label
		color red