.gallery
	min-height calc(100vh - 475px)
	
	&:after
		content ''
		display block
		clear both
	
	&__item
		cursor pointer
		float Left
		width 50%
		overflow hidden
		position relative
			
		img
			display block
			transition all 3s ease
			transform scale(1)
			width 100%
	
	&__item:hover img
		transform scale(1.1)
	
	&__darkness
		position absolute
		width 100%
		height 100%
		top 0
		left 0
		opacity 0
		background-color rgba(black, .5)
		transition opacity 1s ease-in-out
	
	&__item:hover &__darkness
		opacity 1
	
	&__bg
		position fixed
		height 100%
		width 100%
		top 0
		left 0
		background-color rgba(black, .8)
		cursor pointer
		padding 30px
		display flex
		align-items stretch
		justify-content center
		flex-direction column
	
	&__modal
		display flex
		justify-content center
		align-items center
		flex-grow 1
		position relative

		img
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			max-height 100%
			max-width 100%
			background-color rgba(black, .5)
			box-shadow 0 10px 20px rgba(black, .19),
				0 6px 6px rgba(black, .23)
			border 1px solid #fff
			cursor pointer
	
	&__loading
		slow all
		
		display flex
		align-items center
		justify-content center
		color blue
		height 50px
		position absolute
		left 0
		bottom 0
		width 100%
		
		&--first
			top 50%
			left 50%
			bottom auto
			transform translate(-50%, -50%)
		
		&:before
			@extend $pseudo
			bicon(spining-dots-blue, 30)
			
			margin-right 20px
			animation preloading 1s steps(12, start) infinite
	
	&__more
		text-align center
		position absolute
		bottom 0
		width 100%
		left 0
		padding-bottom 10px
	
	&__btn
		@extend $btn-reset
		
		color blue
		
		&:hover
			text-decoration underline
	
	@media (min-width 800px)
		&__item
			width 25%
	
	@media (min-width 1200px)
		&__item
			width 20%