.video-bg
	display none
	position absolute
	min-width 100%
	min-height 100%
	width auto
	height auto
	left 50%
	top 50%
	width 100%
	transform translate(-50%, -50%)
	background-repeat no-repeat
	background-size cover
	background-position center
	
	&--about
		background-image url('/img/video-bg__poster--1.jpg')
	
	&--hdiw
		background-image url('/img/video-bg__poster--2.jpg')
	
	&--gallery
		background-image url('/img/video-bg__poster--3.jpg')
	
	@media (min-width tablet)
		.tablet &
		.desktop &
		.gallery &
			display block