.address
	text-align right
	
	.ie10 &
	.ie11 &
		max-width 210px
	
	&--mb10
		margin-bottom 10px
	
	&__link
	&__work-hours
		@extend $main-text, $fw300
		
		color white
	
	@media (min-width tablet)
		.ie10 &
		.ie11 &
			max-width 400px
			margin-bottom 10px