mixin p404
	.p404
		h1.p404__title.p404__title--big 404
		h2.p404__title Извините, страница не найдена
		p.p404__text Возможно, введен некорректный адрес, либо страница юыла удалена.
		if block
			block