.main-btn
	&--center
		text-align center
	
	&--mb10
		margin-bottom 10px
	
	&--mb20
		margin-bottom 20px
		
	&--hdiw
		position relative
	
	&__btn
		@extend $btn-reset, $main-text
		btn-color blue
		
		padding 13px
		font-weight light
		border-radius 5px
		color white
		box-shadow 1px 1px 6px -1px blue
	
	&--fullwidth &__btn
		width 100%
	
	&--fat &__btn
		padding-left 45px
		padding-right 45px
	
	&--hdiw &__btn
		border-radius 0
		background-color rgba(white, .2)
		box-shadow none
		border 2px solid blue
		margin-left 1px
		margin-right 1px
		padding 0
		height 55px
		width 210px
		font-size 1.125rem
	
	&--hdiw&--active &__btn
		background-color blue