.section
	&--promo
		position relative
		
	&--promo-adv
		background-color #17253a
		background-image url('/img/section__bg--promo-rek.jpg')
		background-size cover
		background-repeat no-repeat
		background-position center
		position relative

	&--we-do
		padding 40px 15px
	
	&--how-works
		padding-top 30px
		background-color #1a1b22
		background-repeat no-repeat
		background-image url('/img/section__bg--how-works.jpg')
		background-size cover
		background-position center
		position relative
		overflow hidden
	
	&--earn
		box-shadow 0 10px 20px -5px rgba(black, .75)
		background-color #e1ebf4
		background-image url('/img/section__bg--earn.jpg')
		background-repeat no-repeat
		background-position 48% 13%
		position relative
		padding 30px 0 150px
	
	&--jataru
		padding-top 30px
	
	&--way
		background-color white
		
		html > body &
			overflow hidden
	
	&--promo-about
		background-color #251a1d
		background-image url('/img/section__bg--promo-about.jpg')
		background-size cover
		background-position center
	
	&--promo-hdiw
		background-color #625a55
		background-size cover
		background-position center
		background-image url('/img/section__bg--promo-hdiw.jpg')
		
		// .mobile &
		// 	background-image url('/img/section__bg--promo-hdiw.jpg')
	
	&--promo-gallery
		background-color #663701
		background-size cover
		background-position center
		background-image url('/img/video-bg__poster--3.jpg')
	
	&--promo-contacts
		background-image url('/img/section__bg--contacts.jpg')
		background-position center bottom
		background-size cover
	
	&--mansoor
		background-color white
	
	&--cap
		min-height 500px
		height calc(100vh - 266px)
		border-top 87px solid blue-dark
		display flex
		justify-content center
		align-items center
	
	&--404
		min-height 500px
		height calc(100vh - 266px)
		border-top 87px solid blue-dark
		display flex
		justify-content center
		align-items center

	&__bg
		position absolute
		right 0
		left 0
		width 100%
		height 460px
		background-image url('/img/section__bg--promo.jpg')
		background-size cover
		background-position 20% center
		background-repeat no-repeat
		min-width 460px
	
	&--promo &__content
		padding-top 105px
		position relative
	
	&--promo-adv &__content
		display flex
		justify-content center
		align-items center
		min-height 418px
		
		.ie10 &
		.ie11 &
			height 418px
	
	&--how-works &__content
		display flex
		flex-wrap wrap
		justify-content space-around
	
	&--earn &__content
		text-align center
	
	&--jataru &__content
		text-align center
		overflow hidden
	
	&--way &__content
		position relative
		
		&:after
			@extend $pseudo, $abs
			triangle down 28px 32px white
			
			top 100%
			left 50%
			transform translateX(-50%)
	
	&--promo-about &__content
	&--promo-contacts &__content
		height 250px
		display flex
		align-items center
		justify-content center
	
	&--promo-about &__content
		background-color rgba(black, .3)
		box-shadow inset 0 -80px 45px -50px rgba(black, .9)
		position relative
		overflow hidden
	
	&--promo-hdiw &__content
		height 250px
		position relative
		overflow hidden
		display flex
		align-content center
		justify-content center
		flex-wrap wrap
		padding-top 50px
		align-items center
		
	&--promo-gallery &__content
		height 250px
		position relative
		overflow hidden
		display flex
		align-items center
		justify-content center
		padding-top 50px
	
	&--about &__content
		padding 35px 0 0
	
	&--questions &__content
		padding 30px 15px 40px
	
	&--mansoor &__content
		padding 45px 15px 40px
	
	@media (min-width tablet)
		&--promo
			min-height 100vh
			
		&--we-do
			padding 55px 40px
		
		&--how-works
			padding-bottom 30px
		
		&--earn
			padding 50px 80px 100px
			background-position center top
			background-size 130%
		
		&--jataru
			padding-top 70px
	
		&--we-do &__content
			display flex
			justify-content space-between
			align-items flex-start
		
		&--promo &__content
			display flex
			justify-content space-between
			padding 100px 50px 40px
		
		&--promo-adv &__content
			height 100vh
			
			.ie10 &
			.ie11 &
				height 100vh
		
		&--promo-about &__content
		&--promo-contacts &__content
			height 340px
	
		&--promo-hdiw &__content
			height 340px
			padding-top 20px
	
		&--questions &__content
			padding 35px 20px 60px
		
		&--mansoor &__content
			padding 55px 20px 60px
	
		&__bg
			height 100%
			background-position 37% center
			min-height 680px
		
	@media (min-width desktop)
		&--we-do
			padding 60px 330px 60px 80px
		
		&--how-works
			padding-bottom 60px
		
		&--earn
			padding 100px 230px 230px
			background-size cover
			background-position 13% 40%
		
		&--promo-contacts &__content
		&--promo-about &__content
			height 500px
		
		&--about &__content
			padding-top 85px
		
		&--promo-contacts &__content
			padding-top 50px
		
		&--promo-hdiw &__content
			height 500px
			padding-top 100px
	
	&--questions &__content
		padding 50px 20px 80px