.promo-logo
	&--index
		margin-left 20px
		width 280px
		padding-bottom 260px
	
	&--promo-adv
		width 320px
		
	@media (min-width tablet)
		&--index
			width 330px
			padding-bottom 0
			
			.ie10 &
			.ie11 &
				height 150px
		
		&--promo-adv
			width 390px
	
	@media (min-width desktop)
		&--index
			width 395px
			margin-left 0
			margin-bottom 15px
		
		&--promo-adv
			width 580px