@import '../blocks/styleguide/reset'
@import '../blocks/styleguide/css-hacks'
@import '../blocks/styleguide/z-indexes'
@import '../blocks/styleguide/variables'
@import '../blocks/styleguide/mixins'
@import '../blocks/styleguide/fonts'
@import '../blocks/styleguide/placeholders'
@import '../blocks/styleguide/geometry'
@import '../blocks/styleguide/animations'
@import '../blocks/styleguide/texts'
@import '../blocks/styleguide/bicon'

@import '../blocks/template/template'
@import '../blocks/header/header'
@import '../blocks/logo/logo'
@import '../blocks/burger/burger'
@import '../blocks/navigation/navigation'
@import '../blocks/store-btn/store-btn'
@import '../blocks/role-btn/role-btn'
@import '../blocks/registration/registration'
@import '../blocks/mob-reg/mob-reg'
@import '../blocks/page/page'
@import '../blocks/role-btn/role-btn'
@import '../blocks/clear-btn/clear-btn'
@import '../blocks/checkbox/checkbox'
@import '../blocks/radio/radio'
@import '../blocks/input/input'
@import '../blocks/input-error/input-error'
@import '../blocks/empty-btn/empty-btn'
@import '../blocks/main-btn/main-btn'
@import '../blocks/wait-btn/wait-btn'
@import '../blocks/enter/enter'
@import '../blocks/checkbox/checkbox'
@import '../blocks/variants/variants'
@import '../blocks/foot-nav/foot-nav'
@import '../blocks/footer/footer'