include ../blocks/sprites/svg-sprite
include ../blocks/header/header
include ../blocks/logo/logo
include ../blocks/burger/burger
include ../blocks/navigation/navigation
include ../blocks/store-btn/store-btn
include ../blocks/role-btn/role-btn
include ../blocks/registration/registration
include ../blocks/mob-reg/mob-reg
include ../blocks/page/page
include ../blocks/role-btn/role-btn
include ../blocks/clear-btn/clear-btn
include ../blocks/checkbox/checkbox
include ../blocks/radio/radio
include ../blocks/input/input
include ../blocks/input-error/input-error
include ../blocks/empty-btn/empty-btn
include ../blocks/main-btn/main-btn
include ../blocks/wait-btn/wait-btn
include ../blocks/enter/enter
include ../blocks/checkbox/checkbox
include ../blocks/foot-nav/foot-nav
include ../blocks/footer/footer