@import '../blocks/styleguide/reset'
@import '../blocks/styleguide/css-hacks'
@import '../blocks/styleguide/z-indexes'
@import '../blocks/styleguide/variables'
@import '../blocks/styleguide/mixins'
@import '../blocks/styleguide/fonts'
@import '../blocks/styleguide/placeholders'
@import '../blocks/styleguide/geometry'
@import '../blocks/styleguide/animations'
@import '../blocks/styleguide/texts'
@import '../blocks/styleguide/bicon'

@import '../blocks/address/address'
@import '../blocks/block/block'
@import '../blocks/burger/burger'
@import '../blocks/cars/cars'
@import '../blocks/checkbox/checkbox'
@import '../blocks/clear-btn/clear-btn'
@import '../blocks/copy/copy'
@import '../blocks/driver-form/driver-form'
@import '../blocks/empty-btn/empty-btn'
@import '../blocks/enter/enter'
@import '../blocks/footer/footer'
// @import '../blocks/how-works/how-works'
@import '../blocks/foot-nav/foot-nav'
@import '../blocks/header/header'
@import '../blocks/input/input'
@import '../blocks/input-error/input-error'
@import '../blocks/logo/logo'
@import '../blocks/main-btn/main-btn'
@import '../blocks/navigation/navigation'
@import '../blocks/page/page'
@import '../blocks/paragraph/paragraph'
@import '../blocks/perk/perk'
@import '../blocks/phone-number/phone-number'
@import '../blocks/pin/pin'
@import '../blocks/promo-logo/promo-logo'
@import '../blocks/radio/radio'
@import '../blocks/role-btn/role-btn'
@import '../blocks/select/select'
@import '../blocks/store-btn/store-btn'
@import '../blocks/tablet/tablet'
@import '../blocks/template/template'
@import '../blocks/title/title'
@import '../blocks/section/section'
@import '../blocks/way/way'
@import '../blocks/wd-slider/wd-slider'