@import '../blocks/styleguide/reset'
@import '../blocks/styleguide/css-hacks'
@import '../blocks/styleguide/z-indexes'
@import '../blocks/styleguide/variables'
@import '../blocks/styleguide/mixins'
@import '../blocks/styleguide/fonts'
@import '../blocks/styleguide/placeholders'
@import '../blocks/styleguide/geometry'
@import '../blocks/styleguide/animations'
@import '../blocks/styleguide/texts'
@import '../blocks/styleguide/bicon'

@import '../blocks/address/address'
@import '../blocks/block/block'
@import '../blocks/burger/burger'
@import '../blocks/cars/cars'
@import '../blocks/checkbox/checkbox'
@import '../blocks/clear-btn/clear-btn'
@import '../blocks/control/control'
@import '../blocks/copy/copy'
@import '../blocks/dot-strip/dot-strip'
@import '../blocks/driver-form/driver-form'
@import '../blocks/empty-btn/empty-btn'
@import '../blocks/enter/enter'
@import '../blocks/face/face'
@import '../blocks/footer/footer'
@import '../blocks/foot-nav/foot-nav'
@import '../blocks/gallery/gallery'
@import '../blocks/header/header'
@import '../blocks/input/input'
@import '../blocks/input-error/input-error'
@import '../blocks/logo/logo'
@import '../blocks/main-btn/main-btn'
@import '../blocks/mansoor/mansoor'
@import '../blocks/map/map'
@import '../blocks/message/message'
@import '../blocks/navigation/navigation'
@import '../blocks/p404/p404'
@import '../blocks/page/page'
@import '../blocks/paragraph/paragraph'
@import '../blocks/perk/perk'
@import '../blocks/phone-number/phone-number'
@import '../blocks/pin/pin'
@import '../blocks/point/point'
@import '../blocks/promo-logo/promo-logo'
@import '../blocks/question/question'
@import '../blocks/radio/radio'
@import '../blocks/rectangle/rectangle'
@import '../blocks/scroll-btn/scroll-btn'
@import '../blocks/search/search'
@import '../blocks/select/select'
@import '../blocks/soc-icon/soc-icon'
@import '../blocks/store-btn/store-btn'
@import '../blocks/up-btn/up-btn'
@import '../blocks/tablet/tablet'
@import '../blocks/template/template'
@import '../blocks/text/text'
@import '../blocks/title/title'
@import '../blocks/section/section'
@import '../blocks/slider/slider'
@import '../blocks/slide-pack/slide-pack'
@import '../blocks/video-bg/video-bg'
@import '../blocks/way/way'
@import '../blocks/wd-slider/wd-slider'
@import '../blocks/ya-map/ya-map'