.empty-btn
	text-align center
	
	&--mb30
		margin-bottom 30px
	
	&__btn
		@extend $btn-reset, $main-text
		
		color blue
		text-decoration underline
		font-weight light
	
	&--skip &__btn
		color gray-light
		text-decoration none
	
	&--forgot &__btn
		color gray-light