.footer
	background-image url('/img/footer__bg.png')
	
	&__content
		padding 30px 20px
		display flex
		justify-content space-between
		align-items stretch
	
	&__info
		display flex
		flex-direction column
		justify-content space-between
	
	&__btns
		text-align right