include ../soc-icon/soc-icon

mixin footer
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'footer--' + mod

	.footer__content
		if block
			block

mixin fInfo
	.footer__info
		if block
			block

mixin fBtns
	.footer__btns(ng-show=attributes["ng-show"])
		if block
			block