.variants
	overflow auto
	max-height 296px
	width 100%
	top 100%
	left 0
	background-color white
	position absolute
	border 1px solid gray-mid-dark
	border-top none
	text-align left
	border-radius 0 0 10px 10px
	overflow hidden
		
	&__list
		list-style-type none
	
	&__item
		@extend $main-text, $fw300
		
		display block
		padding 9px
		cursor pointer
		
		&:not(:last-child)
			border-bottom 1px solid gray-mid-dark
		
		&:hover
			background-color gray-lighter