btn-color(color)
	colLight	= lightness(color)
	colPlus	= colLight + 5%
	colMinus	= colLight - 5%
	
	background-color color
	transition background-color .3s
	
	&:hover
		background-color lightness(color, colPlus)
	
	&:active
		background-color lightness(color, colMinus)

placeholder()
	&::-webkit-input-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}

slow(prop)
	transition prop .3s

size(x)
	width x
	height @width

ballBtn(no=0)
	width 50px
	height @width
	background-color blue
	border-radius 50%
	box-shadow inset -2px -2px 5px rgba(black, .25)
	transition background-color .3s
	
	if no != false
		@extend $btn-reset
		
		&:hover
			background-color lightness(blue, lightness(blue) + 5%)
		
		&:active
			box-shadow inset 2px 2px 5px rgba(black, .25)