// MAIN
$main-lh
	line-height 1.3em
	
$main-fz
	font-size fz

$main-ff
	font-family text-font

// FONT WEIGHTS
$fw100
	font-weight thin

$fw300
	font-weight light

$fw500
	font-weight medium

// TEXTS
$text
	// font-weight normal
	color text-black
	line-height 1.3em

$main-text
	@extend $text
	
	font-size 1rem

// $small-text
// 	@extend $text
	
// 	font-size .875rem

$very-small-text
	@extend $text
	
	font-size .75rem

$text-12
	@extend $text
	
	font-size .75rem

$text-18
	@extend $text
	
	font-size 1.125rem

$text-22
	@extend $text
	
	font-size 1.375rem

$text-24
	@extend $text
	
	font-size 1.5rem

// TITLES
$title
	color blue-dark

$title-reg
	@extend $fw100
	font-size 3.125rem
	text-align center
	color blue
	margin-bottom 35px

$title-30
	@extend $title
	
	font-size 1.875rem