//	//	//	//	//	//	//	//	//	//
//		MAIN						//
//	//	//	//	//	//	//	//	//	//
$main-lh
	line-height 1.3em
	
$main-fz
	font-size fz

$main-ff
	font-family text-font

$fw500
	font-weight 500

//	//	//	//	//	//	//	//	//	//
//		TEXTS						//
//	//	//	//	//	//	//	//	//	//
$text
	font-weight normal
	color text-black
	line-height 1.3em

$main-text
	@extend $text
	
	font-size 1rem

// $small-text
// 	@extend $text
	
// 	font-size .875rem

$very-small-text
	@extend $text
	
	font-size .75rem

$text-12
	@extend $text
	
	font-size .75rem

$text-18
	@extend $text
	
	font-size 1.125rem

$text-24
	@extend $text
	
	font-size 1.5rem

//	//	//	//	//	//	//	//	//	//
//		TITLES					//
//	//	//	//	//	//	//	//	//	//
$title
	color blue-dark

$title-reg
	font-weight thin
	font-size 3.125rem
	text-align center
	color blue
	margin-bottom 35px

// $title-h1
// 	@extend $title
	
// 	font-size 3.125rem
// 	font-weight medium

// $title-h2
// 	@extend $title
	
// 	font-size 2.5rem
// 	font-weight medium

// $title-h3
// 	@extend $title
	
// 	font-size 1.5rem
// 	font-weight light