reservForScrollbar	= 30px

// screen widths
desktop					= 1230px
tablet					= 810px
mobile					= 350px

// container width
c-desctop				= desktop - reservForScrollbar
c-tablet					= tablet - reservForScrollbar
c-mobile					= mobile - reservForScrollbar

// app font size
fz							= 16px

// main colors
black						= #0
gray						= #9e
white						= #f

red						= #f44336
green						= #4caf50
blue						= #2196f3

pink						= #e91e63
purpur					= #9c27b0
indigo					= #3f51b5
cyan						= #00bcd4
yellow					= #ffeb3b
orange					= #ff9800
brown						= #795548

text-black				= #0

// colors
blue						= #00a3af
blue-dark				= #36374c

gray						= #a5
gray-dark				= #45
gray-light				= #c9
gray-lighter			= #ed
gray-mid-dark			= #caccd2

red						= #9e1c20

pink						= #ed524f
pink-light				= #fa7f7d

// widths
mobile					= 500px
c-mobile					= mobile - 20
tablet					= 960px
c-tablet					= tablet - 20
desktop					= 1620px
c-desctop				= desktop - 20