reservForScrollbar	= 20px

// screen widths
desktop					= 1900px
tablet					= 920px
mobile					= 480px

// container width
c-desctop				= desktop - reservForScrollbar
c-tablet					= tablet - reservForScrollbar
c-mobile					= mobile - reservForScrollbar

// app font size
fz							= 16px

// main colors
black						= #0
gray						= #9e
white						= #f

red						= #f44336
green						= #4caf50
blue						= #2196f3

pink						= #e91e63
purpur					= #9c27b0
indigo					= #3f51b5
cyan						= #00bcd4
yellow					= #ffeb3b
orange					= #ff9800
brown						= #795548

text-black				= #0

// colors
blue						= #00a3af
blue-shadow				= #00727a
blue-dark				= #36374c
blue-darker				= #0d6674

gray						= #a5
gray-dark				= #45
gray-light				= #c9
gray-lighter			= #ed
gray-lightest			= #f1
gray-mid-dark			= #caccd2
gray-border				= gray-mid-dark

red						= #9e1c20

pink						= #ed524f
pink-light				= #fa7f7d

// widths
// mobile					= 480px
// c-mobile					= mobile - 20
// tablet					= 940px
// c-tablet					= tablet - 20
// desktop					= 1920px
// c-desctop				= desktop - 20

// slider widths
slider-space			= 500px

slider-small-width	= 400px
slider-mid-width		= 500px
slider-big-width		= 635px

slider-small-2			= slider-small-width*2 + slider-space
slider-mid-2			= slider-mid-width*2 + slider-space
slider-big-2			= slider-big-width*2 + slider-space

slider-small-3			= slider-small-width*3 + slider-space*2
slider-mid-3			= slider-mid-width*3 + slider-space*2
slider-big-3			= slider-big-width*3 + slider-space*2