for i in 0..30
	$zi{i}
		z-index i

zi(index, classes...)
	for item in classes
		.{item}
			@extend $zi{index}

zi(4, modals)

zi(3, header)

zi(2, variants, select__variants)

zi(1, input-error, promo__content, input__input, section--how-works, pin__card)

zi(0, promo__bg, input__label, section--earn)