for i in 0..30
	$zi{i}
		z-index i

zi(index, classes...)
	for item in classes
		.{item}
			@extend $zi{index}

zi(5, gallery__modal)

zi(4,
	message,
	gallery__bg,
	darkness,
	up-btn)

zi(3, header)

zi(2,
	variants,
	select__variants,
	pin__card)

zi(1,
	input-error,
	promo__content,
	input__input,
	section--how-works,
	point__face,
	tablett,
	map,
	pin__pointer)

zi(0,
	promo__bg,
	input__label,
	section--earn,
	point__texts)