.logo
	@extend $font-reset
	
	&--index
		@media (max-width new-2)
			flex-grow 1
	
	// ie/edge fix
	html > body	&
		// width 55px
		width 100px
	
	&__href
		display inline-block
	
	&__img
		height 68px
		width auto
	
	&--index &__img
		height 55px
	
	@media (min-width tablet)
		&--index
			flex-basis auto

	@media (min-width desktop)
		&--index	&__img
			height 68px
			
			html > body	&
				width 68px
