.block
	&--we-do-left
		margin-bottom 20px
	
	&--cars
		background-color rgba(blue-dark, .1)
		padding 40px 15px 55px
		position relative
	
	&--way-left
	&--way-right
		margin-bottom 40px
		max-width 325px
		
	&--way-left
		padding-left 25px
		flex-shrink 0
	
	&--way-right
		padding-right 25px
		flex-shrink 0
		// text-align right
	
	&--search
		margin-bottom 90px
	
	&--report
		margin-bottom 50px
	
	&--rectangles
		position relative
		padding-top 60px
		margin-bottom 40px
	
	&--gray
		padding 25px 30px 20px
		background-color gray-lighter
	
	&--offis
		display flex
		
		&:not(:last-child)
			margin-bottom 20px
	
	&--mb10
		&:not(:last-child)
			margin-bottom 10px
	
	&--mansoor
		max-width 450px
		margin auto
	
	&--creator
	&--dev
	&--manager
		width 100%
		
		&:not(:last-child)
			margin-bottom 60px
	
	@media (min-width 900px)
		&--dev
		&--manager
			width 50%
	
	@media (min-width tablet)
		&--we-do-left
			max-width 370px
		
		&--we-do-right
			padding-top 10px
		
		&--promo
			padding-top 30px
		
		&--cars
			padding-top 50px
		
		&--way-left
		&--way-right
			max-width 336px
		
		&--way-right
			order 2
		
		&--control
			padding-top 40px
		
		&--freedom
			padding-top 20px
		
		&--report
			padding-left 30px
		
		&--rectangles
			padding-top 0
			max-width 950px
			margin auto
			margin-bottom 60px
		
		&--gray
			padding 35px 0 30px
		
		&--mansoor
			display flex
			max-width 1100px
			flex-direction column
			flex-wrap wrap
			height 270px
			justify-content space-between
			align-content space-between
			
			&:not(:last-child)
				margin-bottom 45px
			
			&:last-child
				height 515px
		
		&--offis
			display block
		
		&--creator
		&--dev
		&--manager
			width 48%
			
			&:nth-of-type(2n+1):not(:last-of-type)
				margin-right 1%
			
			&:nth-of-type(2n)
				margin-left 1%
	
	@media (min-width desktop)
		&--we-do-left
			max-width 580px
		
		&--promo
			max-width 395px
		
		&--cars
			padding-top 90px
			padding-bottom 80px
		
		&--way-left
		&--way-right
			flex-shrink 0
			max-width 660px
		
		&--report
			padding-left 0
		
		&--rectangles
			margin-bottom 80px
		
		&--gray
			padding 65px 0 60px
		
		&--creator
			width 800px
			padding 0 20px
		
		&--dev
		&--manager
			width 320px
			padding 0 40px
			margin-left 0 !important
			margin-right 0 !important
		
		&--creator
			margin-right 0 !important
			margin-left 0 !important