.soc-icon
	display inline-block
	font-size 0
	
	&:not(:last-child)
		margin-right 7px
	
	&[data-icon='vk']
		bicon(soc-vk-white, 24, 45)
		
		background-color #6996c7
		
	&[data-icon='fb']
		bicon(soc-fb-white, 22, 45)
		
		background-color #496194
		
	&[data-icon='gp']
		bicon(soc-gp-white, 22, 45)
		
		background-color #ff6d4a
		
	&[data-icon='ig']
		bicon(soc-ig-white, 20, 45)
		
		background-color #31679a
		