mixin new(isInHeader)
	.new(class=isInHeader ? 'new--in-header' : '')
		.new__content
			span.new__text Скоро запускаем новый сайт!
			a.new__link(
				href='./other/КП_Jata_4.pdf'
				target='_blank'
				download) Скачать презентацию
