.wait-btn
	&__btn
		@extend $btn-reset, $main-text
		
		color blue-dark
		text-decoration underline
		position relative
		padding-left 25px
		
		&:before
			@extend $pseudo-left-old
			bicon(round-arrows-spinners, 20)
				
		&:after
			content ''
		
	&--waiting &__btn
		pointer-events none
		
		&:before
			animation arrowRotate 2s linear 10
		
		&:after
			animation counter 20s linear