.way
	padding-left 28px
	padding-right 28px
	
	&--tablet
		padding-top 35px
	
	&--start
		background-image url('/img/way__bg--start.jpg')
		background-repeat no-repeat
		background-position 50% 50%
		background-size cover
		margin-bottom 200px
		position relative
	
	&--report
		position relative
		overflow hidden

	&__content
		display flex
		flex-wrap wrap
		justify-content space-between
		
	&--lb &__content
		border-left 2px dashed gray
		position relative
		justify-content flex-start
		
		&:after
			@extend $pseudo, $abs, $blue-round-dot
			
			left -11px
			top 10px
	
	&--rb &__content
		border-right 2px dashed gray
		position relative
		justify-content flex-end
		
		&:after
			@extend $pseudo, $abs, $blue-round-dot
			
			right -11px
			top 10px
	
	&--tablet &__content
		padding-top 15px
		
		&:after
			top 23px
	
	&--start &__content
		padding-top 25px
		padding-bottom 130px
		
		&:after
			top 32px
	
	&--report &__content
		justify-content flex-end

	&__strips
		height 200px
		display flex
		position relative
	
	&--start &__strips
		background-color white
		// padding-left 28px
		// padding-right 28px
		// margin-left -28px
		position absolute
		top 100%
		width calc(100% - 56px)
	
	&__strip
		flex-basis 50%
		height 101px
		flex-grow 1
		flex-shrink 1
		
		&--tr
			border-left 2px dashed gray
			border-bottom 2px dashed gray
			border-radius 0 0 0 90px
			align-self flex-start
			
		&--lb
			border-top 2px dashed gray
			border-right 2px dashed gray
			border-radius 0 90px 0 0
			align-self flex-end
		
		&--tl
			border-right 2px dashed gray
			border-bottom 2px dashed gray
			border-radius 0 0 90px 0
			align-self flex-start
		
		&--rb
			border-top 2px dashed gray
			border-left 2px dashed gray
			border-radius 90px 0 0 0
			align-self flex-end
		
		&--half
			width 50%
			flex-shrink 0
	
	&__control
		width 100%
	
	@media (min-width tablet)
		padding-left 40px
		padding-right 40px
		
		&--tablet
			overflow hidden

		&--lb &__content
		&--rb &__content
			flex-wrap nowrap
			justify-content space-between
		
		&--start &__strips
			width calc(100% - 80px)
		
		&--control &__content
			&:after
				top 50px
		
		&--freedom &__content
			&:after
				top 32px
		
		&--start &__content
			padding-bottom 320px
		
		&__control
			.ie10 &
			.ie11 &
				flex-basis 100%
				flex-shrink 1
				text-align right
	
	@media (min-width desktop)
		padding-left 120px
		padding-right 120px
	
		&__content
			justify-content space-between
		
		&--start &__strips
			width calc(100% - 240px)