extends ../blocks/template/template

block includes
	include ../blocks/page/page

	include ../blocks/block/block
	include ../blocks/paragraph/paragraph
	include ../blocks/rectangle/rectangle
	include ../blocks/section/section
	include ../blocks/title/title
	include ../blocks/video-bg/video-bg

block page_id
	-var pageId = 'about'

block title
	title Jata

block content
	+page(mods='about')
		+section(mods='promo-about')
			+videoBg([
				['video-bg--1', 'mp4']
			], 'section__bg--promo.jpg')(mods='about')
			+title(1, 'О jata.ru')(mods='about')
		+section(mods='about')
			+paragraph(mods='about')
				+pSpan(mods='about-title')
					| jata.ru
				|  - уникальный проект в мире outdoor рекламы Санкт-Петербурга. Мы не только создаем новые ресурсы для рекламы товаров и услуг, но и даем водителям возможность заработать на своих машинах.<br>Брендированная машина привлекает взгляды, она выделяется среди потока автомобилей, на нее невозможно не обратить внимания. Эффективность такой рекламы достигается за счет ее новизны, яркости и органичности восприятия в городской среде.

			+block(mods='rectangles')
				+rectangle(mods='blue')
					+paragraph('То, что мы предлагаем, не только доступно, но и эффективно - этот, относительно новый для России вид outdoor рекламы, уже положительно зарекомендовал себя, как один из самых оптимальных способов повысить лояльность к бренду, увеличить его узнаваемость и заинтересовать потенциальных клиентов. По результатам исследований: 85% жителей городов обращают внимание на автомобили с рекламой (Иссл: DMD / GFK); 63% респондентов хорошо запоминают и рекламное предложение на автомобиле (Иссл: Contrast / ABH).')(mods='rectangle')
				+rectangle(mods='bus')
			+block(mods='gray')
				//- +paragraph('Мы гарантируем качественную рекламу: наши стикеры – высококлассный продукт, изготовленный профессионалами с использованием современных материалов и технологий, а специалисты по оклейке машины одинаково умело наносят как небольшие стикеры, так и стикеры, покрывающие практически всю поверхность автомобиля. Кроме того, все пользователи Jata.ru проходят обязательную верификацию, мы лично знакомимся с каждым из них в момент подписания договора.')(mods='gray')
				+paragraph('Мы изготавливаем качественную рекламу и лично знакомимся с каждым пользователем jata.ru в момент подписания договора после прохождения обязательной верификации у наших специалистов.')(mods='gray')
				+paragraph(mods='gray')
					a(href=linkTo.reg) Зарегистрируйся
					|  и начни пользоваться jata.ru прямо сейчас!