extends ../blocks/template/template

block includes
	include ../blocks/page/page

	include ../blocks/block/block
	include ../blocks/paragraph/paragraph
	include ../blocks/rectangle/rectangle
	include ../blocks/section/section
	include ../blocks/title/title
	include ../blocks/video-bg/video-bg

block page_id
	-var pageId = 'about'

block title
	title Jata

block content
	+page(mods='about')
		+section(mods='promo-about')
			+videoBg([
				['video-bg--1', 'mp4']
			], 'section__bg--promo.jpg')(mods='about')
			+title(1, 'О jata.ru')(mods='about')
		+section(mods='about')
			+paragraph(mods='about')
				+pSpan(mods='about-title')
					| Jata.ru
				|  - уникальный проект в мире outdoor- рекламы Санкт-Петербурга. Мы не только создаем новые ресурсы для рекламы товаров и услуг, но и даем водителям возможность заработать на своих машинах.<br>В большинстве случаев брендированные машины, которые встречаются вам на улицах города, являются корпоративными и рекламируют услуги компаний, которым принадлежат. С нашей помощью вы тоже можете разместить рекламу на частном автомобиле.<br>Брендированная машина привлекает взгляды, она выделяется среди потока автомобилей, на нее невозможно не обратить внимания. Эффективность такой рекламы достигается за счет ее новизны, яркости и органичности восприятия в городской среде.
			+block(mods='rectangles')
				+rectangle(mods='blue')
					+paragraph('На данный момент в системе jata.ru зарегистрировано уже более 1000 автомобилей и автобусов в Санкт-Петербурге. Каждый владелец транспортного средства описывает подробный маршрут своего перемещения, к которому привязываются различные объекты (торговые центры, школы, детские сады, бизнес центры). Таким образом рекламодатель получает огромный простор для осуществления своей таргетированной рекламной компании.')(mods='rectangle')
				+rectangle(mods='bus')
			+block(mods='gray')
				+paragraph('Мы хотим, чтобы наш уровень сервиса оставался на высшем уровне, поэтому все пользователи сайта jata.ru проходят обязательную верификацию у нашего специалиста и подписывают договор с компанией Jata.')(mods='gray')
				+paragraph(mods='gray')
					a(href='http://reg.jata.ru') Зарегистрируйся
					|  и начни пользоваться jata.ru прямо сейчас!