extends ../blocks/template/template

block includes
	include ../blocks/page/page
	include ../blocks/main-btn/main-btn
	include ../blocks/question/question
	include ../blocks/section/section
	include ../blocks/title/title
	include ../blocks/video-bg/video-bg

block page_id
	-var pageId = 'hdiw'

block title
	title Вопросы и ответы

block content
	+page(mods='hdiw')
		+section(mods='promo-hdiw')
			+videoBg([
				['video-bg--2', 'mp4']
			], 'video-bg__poster--2.jpg')(mods='hdiw')
			+title(1, 'Как это работает?')(mods='hdiw')
			+mainBtn('Рекламодателям')(mods=['hdiw', 'active'])
			+mainBtn('Владельцам ТС')(mods=['hdiw'])
		+section(mods='questions')
			+questions
				+qItem
					+title(2, 'Вопросы для рекламодателя:')(mods='questions')
					+question('Что такое jata.ru?')
						| Jata.ru - уникальный проект, обеспечивающий прямое взаимодействие между владельцем автомобиля и рекламодателем. Благодаря широким возможностям выбора характеристик транспортного средства и способов нанесения рекламных стикеров, вы можете найти идеальный вариант для размещения информации о своих товарах и услугах.
						br
						| Но все же основной плюс системы – это возможность находить водителей по конкретным маршрутам передвижения.
					+question('Какие типы ТС представлены в базе jata.ru?')
						| В данный момент мы набираем владельцев всех типов ТС - от легковых автомобилей до автобусов и грузовых машин.
					+question('Что сделать, чтобы получить доступ к базе jata.ru и приступить к поиску подходящих автовладельцев?')
						| Все очень просто! Представителю вашей компании необходимо зарегистрироваться на сайте jata.ru, получить доступ к личному кабинету и пройти верификацию у нашего специалиста. Далее вы можете самостоятельно создавать тендеры и приглашать к участию водителей, либо с помощью внутреннего поиска найти нужные вам ТС.
					+question('Зачем нужна верификация?')
						| Верификацию проходят как рекламодатели, так и водители jata.ru. Мы хотим лично познакомиться со всеми пользователями сервиса, чтобы иметь возможность гарантировать качественную рекламу.
					+question('Я могу отслеживать перемещение автомобилей, участвующих в моей рекламной кампании?')
						| Конечно, более того, это можно делать в реальном времени, благодаря GPS передатчикам.
					+question('Как можно пополнить внутренний счет?')
						| Вы можете пополнить счет с помощью безналичного перевода средств на счет jata.ru, либо с помощью банковской карты.
					+question('Сколько я должен платить автовладельцам?')
						| В системе jata.ru свободное ценообразование. Вы можете устанавливать и предлагать свою цену каждому водителю, ориентируясь на тип или класс ТС и маршрут его передвижения.
					+question('Как удостовериться, что водитель не отклеил стикеры?')
						| Все водители обязаны присылать вам фото своих транспортных средств по вашему запросу.
					+question('Я могу самостоятельно разработать дизайн стикеров?')
						| Конечно! Однако, если вам необходимы услуги нашего профессионального дизайнера, мы с радостью поможем. 
					+question('Не нашли ответа на свой вопрос?')
						| Свяжитесь с нами по телефону 
						a(href='tel:'+phoneNumber.main.call)=phoneNumber.main.read
						| .
						//- |  Звонок по России бесплатный.
				
				+qItem(style='display:none')
					+title(2, 'Вопросы для владельца ТС:')(mods='questions')
					+question('Что такое jata.ru?')
						| Jata.ru – уникальный проект в мире outdoor рекламы Санкт-Петербурга. Мы не только создаем новые ресурсы для рекламы товаров и услуг, но и даем водителям возможность заработать на своих машинах.
					+question('Как я могу зарабатывать деньги на своей машине с помощью jata.ru?')
						| Все очень просто! Вы участвуете в рекламных кампаниях, в рамках которых вашу машину оклеивают стикерами, содержащими информацию об услуге или предложении выбранного вами бренда. Вы также можете выбрать и рекламную кампанию, регулируя таким образом степень оклейки и дизайн стикеров.
					+question('Что мне надо сделать, чтобы зарегистрировать мою машину в базе jata.ru и иметь доступ к выбору брендов?')
						| Вы можете зарегистрироваться на сайте jata.ru и получить доступ в личный кабинет, либо скачать наше приложение JATA DRIVE. После регистрации заполните необходимые данные: информацию о себе, своих ТС и маршрутах перемещения – так рекламодатели смогут найти вашу машину и предложить вам участие в рекламной кампании. Как только вы пройдете верификацию в нашем офисе, ваша машина появится в базе jata.ru, тогда вы сможете участвовать в тендерах, либо ждать заинтересованного рекламодателя. Участие в проекте абсолютно бесплатное.
					+question('Зачем нужна верификация?')
						| Мы гарантируем рекламодателям качественную рекламу, поэтому стремимся лично проверить информацию о каждом ТС. Эта процедура двусторонняя, ее проходят все пользователи jata.ru.
					+question('Как я могу вывести деньги?')
						| Ежемесячно, на карту любого банка.
					+question('Если я владелец грузового ТС, я могу принимать участие в рекламных кампаниях?')
						| Да, мы приветствуем владельцев всех видов ТС!
					//- +question('Какие рекламные места в данный момент могут принять участие?')
						| В данный момент мы набираем владельцев всех типов ТС, от легкового транспорта до автобусов и грузовых авто.
					+question('В каких городах вы работаете?')
						| На данный момент принять участие в нашем проекте могут только жители Санкт-Петербурга и Ленинградской области. В ближайшем будущем мы планируем открыть представительства во всех крупных городах России.
					+question('Сколько я смогу заработать?')
						| В среднем наши пользователи зарабатывают 10 000 руб в месяц, цена варьируется от ваших маршрутов перемещения и востребованности вашего транспортного средства у рекламодателей.
					+question('Какие части моего ТС буду оклеены?')
						| По законодательству, мы не можем произвести оклейку более, чем 70% поверхности вашего автомобиля, но расположение стикеров на кузове может быть любым, не препятствующим управлением ТС. Вы можете самостоятельно выбирать рекламные кампании или договариваться с рекламодателем о том, как именно будут расположены стикеры.
					+question('То есть я могу самостоятельно выбирать в каких рекламных кампаниях участвовать?')
						| Да, безусловно!
					+question('Как долго длятся рекламные кампании?')
						| Обычно кампании длятся от 1 до 6 месяцев. Срок устанавливается непосредственно рекламодателем.
					+question('Не нашли ответа на свой вопрос?')
						| Свяжитесь с нами по телефону 
						a(href='tel:'+phoneNumber.main.call)=phoneNumber.main.read
						| .
						//- |  Звонок по России бесплатный.