extends ../blocks/template/template

block includes
	include ../blocks/page/page
	include ../blocks/main-btn/main-btn
	include ../blocks/question/question
	include ../blocks/section/section
	include ../blocks/title/title
	include ../blocks/video-bg/video-bg

block page_id
	-var pageId = 'hdiw'

block title
	title Jata

block content
	+page(mods='hdiw')
		+section(mods='promo-hdiw')
			+videoBg([
				['video-bg--2', 'mp4']
			], 'video-bg__poster--2.jpg')(mods='hdiw')
			+title(1, 'Как это работает?')(mods='hdiw')
			+mainBtn('Владельцам ТС')(mods=['hdiw', 'active'])
			+mainBtn('Рекламодателям')(mods=['hdiw'])
		+section(mods='questions')
			+questions
				+qItem
					+title(2, 'Вопросы для рекламодателя:')(mods='questions')
					+question('Что такое jata.ru?')
						| Jata.ru - уникальный проект. Площадка, позволяющая напрямую взаимодействовать между владельцами рекламного места - будь то личный автомобиль, автобус или рекламный щит - и рекламодателем. Таким образом Вы можете заработать на своем рекламном месте либо, если Вы рекламодатель, найти по минимальным ценам необходимое рекламное место, минуя рекламные агентства.
					+question('Как я могу зарабатывать деньги с помощью своего рекламного места на jata.ru? ')
						| Все очень просто! Необходимо зарегистрироваться в системе или скачать наше приложение JATA DRIVE, заполнить информацию о себе, своих ТС и маршрутах перемещения. Затем пройти верификацию в нашем офисе. После этих простых действий вы сможете участвовать в тендерах рекламодателей либо просто ждать пока рекламодатель свяжется с вами. Участие в проекте абсолютно БЕСПЛАТНОЕ.
					+question('Зачем нужна верификация?')
						| Мы стараемся предоставить рекламодателю наиболее достоверную и проверенную информацию о Вашем рекламном месте. Поэтому все без исключения пользователи и компании проходят верификацию в нашем офисе.
					+question('Как я могу вывести деньги?')
						| Вы можете выводить деньги каждый месяц на банковскую карту любого банка.
					+question('Какие рекламные места в данный момент могут принять участие?')
						| В данный момент мы набираем владельцев всех типов ТС, от легкового транспорта до автобусов и грузовых авто.
					+question('В каких городах вы работаете?')
						| На данный момент принять участие в нашем проекте могут только жители Санкт-Петербурга и Ленинградской области. В ближайшем будущем мы планируем открыть представительства во всех крупных городах России.
					+question('Сколько я смогу заработать?')
						| В среднем наши пользователи зарабатывают 10 000руб в месяц, цена варьируется от ваших маршрутов перемещения и транспортного средства.
					+question('Какие части моего ТС буду обклеены?')
						| Вы сами можете выбрать те части автомобиля, которые хотите обклеить рекламой, либо принять предложение рекламодателя.
					+question('Могу ли я самостоятельно выбирать в каких рекламных кампаниях участвовать?')
						| Да, безусловно!
					+question('Как долго длятся рекламные кампании?')
						| Обычно кампании длятся от 1 до 6 месяцев. Срок устанавливается непосредственно рекламодателем.
					+question('Не нашли ответа на свой вопрос?')
						| Свяжитесь с нами по телефону 
						a(href='tel:'+phoneNumber.main.call)=phoneNumber.main.read
						| . Звонок по России бесплатный.

				+qItem(style='display:none')
					+title(2, 'Вопросы для владельца ТС:')(mods='questions')
					+question('Что такое jata.ru?')
						| Jata.ru - уникальный проект. Площадка, позволяющая напрямую взаимодействовать между владельцами рекламного места - будь то личный автомобиль, автобус или рекламный щит - и рекламодателем. Таким образом Вы можете заработать на своем рекламном месте либо, если Вы рекламодатель, найти по минимальным ценам необходимое рекламное место, минуя рекламные агентства.
						br
						| Основной плюс системы – возможность находить водителей по конкретным маршрутам передвижения, оплата так же производится за фактически пройденные километры по этим маршрутам. Также Вы в любой момент можете отслеживать передвижения оплаченных автомобилей в реальном времени.
					+question('Какие рекламные места на данный момент есть на jata.ru?')
						| В данный момент мы набираем владельцев всех типов ТС, от легкового транспорта до автобусов и грузовых авто. В системе уже зарегистрированы более 100 легковых автомобилей, 50 грузовых и один автобусный парк.
					+question('Как моя компания может найти рекламные места на jata.ru?')
						| Все очень просто! Представителю вашей компании необходимо зарегистрироваться в нашей системе, пройти верификацию у нашего специалиста. Далее вы можете самостоятельно создавать тендеры и набирать понравившихся водителей либо с помощью внутреннего поиска найти нужные Вам ТС.
					+question('Зачем нужна верификация водителей?')
						| Мы стараемся предоставить Вам наиболее достоверную и проверенную информацию о водителях и их автомобилях. Поэтому все без исключения пользователи и компании проходят верификацию в нашем офисе.
					+question('Как можно отслеживать купленную рекламную площадку?')
						| Все водители перемещаются с GPS передатчиком, таким образом Вы можете отслеживать все перемещения водителей в реальном времени.
					+question('Как можно пополнить внутренний счет?')
						| Вы можете пополнить свой счет банковский картой либо безналичным переводом.
					+question('Какие цены?')
						| В системе jata.ru свободное ценообразование. Вы можете самостоятельно предлагать свою цену конкретному водителю в зависимости от типа его ТС и маршрутах его передвижений.
					+question('Как удостовериться, что водитель не отклеил стикеры?')
						| Все водители обязаны присылать Вам фото своих транспортных средств по вашему запосу.
					+question('Можно ли мне самостоятельно нарисовать дизайн стикеров?')
						| Конечно! В случае, если Вам необходимы услуги нашего дизайнера, мы с радостью поможем. 
					+question('Не нашли ответа на свой вопрос?')
						| Свяжитесь с нами по телефону 
						a(href='tel:'+phoneNumber.main.call)=phoneNumber.main.read
						| . Звонок по России бесплатный.