extends ../blocks/template/template

block includes
	include ../blocks/page/page

	//- include ../blocks/block/block
	//- include ../blocks/cars/cars
	//- include ../blocks/control/control
	//- include ../blocks/dot-strip/dot-strip
	include ../blocks/main-btn/main-btn
	//- include ../blocks/map/map
	//- include ../blocks/paragraph/paragraph
	//- include ../blocks/pin/pin
	//- include ../blocks/point/point
	//- include ../blocks/promo-logo/promo-logo
	//- include ../blocks/rectangle/rectangle
	include ../blocks/question/question
	//- include ../blocks/search/search
	include ../blocks/section/section
	//- include ../blocks/slider/slider
	//- include ../blocks/slide-pack/slide-pack
	//- include ../blocks/tablet/tablet
	include ../blocks/title/title
	include ../blocks/video-bg/video-bg
	//- include ../blocks/way/way

block page_id
	-var pageId = 'hdiw'

block title
	title Jata

block content
	+page(mods='hdiw')
		+section(mods='promo-hdiw')
			+videoBg([
				['video-bg--2', 'mp4']
			], 'video-bg__poster--2.jpg')(mods='hdiw')
			+title(1, 'Как это работает?')(mods='hdiw')
			+mainBtn('Рекламодателям')(mods=['hdiw', 'active'])
			+mainBtn('Владельцам ТС')(mods=['hdiw'])
		+section(mods='questions')
			+questions
				+qItem
					+title(2, 'Вопросы для рекламодателя:')(mods='questions')
					+question('Что такое jata.ru?')
						| Мы стараемся предоставить рекламодателю наиболее достоверную и проверенную информацию о Вашем рекламном месте. Так же как и владельцы рекламного места должны быть уверены в подлинности рекламодателя и его рекламных компаниях. Поэтому все без исключения пользователи и компании проходят верификацию у нашего специалиста.
					+question('Какие рекламные места на данный момент есть на jata.ru?')
						| Мы стараемся предоставить рекламодателю наиболее достоверную и проверенную информацию о Вашем рекламном месте. Так же как и владельцы рекламного места должны быть уверены в подлинности рекламодателя и его рекламных компаниях. Поэтому все без исключения пользователи и компании проходят верификацию у нашего специалиста.
					+question('Как моя компания может найти рекламные места на jata.ru?')
						| Мы стараемся предоставить рекламодателю наиболее достоверную и проверенную информацию о Вашем рекламном месте. Так же как и владельцы рекламного места должны быть уверены в подлинности рекламодателя и его рекламных компаниях. Поэтому все без исключения пользователи и компании проходят верификацию у нашего специалиста.
					+question('Зачем нужна верификация?')
						| Мы стараемся предоставить рекламодателю наиболее достоверную и проверенную информацию о Вашем рекламном месте. Так же как и владельцы рекламного места должны быть уверены в подлинности рекламодателя и его рекламных компаниях. Поэтому все без исключения пользователи и компании проходят верификацию у нашего специалиста.
					+question('Как можно мониторить купленную рекламную площадку?')
						| Мы стараемся предоставить рекламодателю наиболее достоверную и проверенную информацию о Вашем рекламном месте. Так же как и владельцы рекламного места должны быть уверены в подлинности рекламодателя и его рекламных компаниях. Поэтому все без исключения пользователи и компании проходят верификацию у нашего специалиста.
					+question('Как можно пополнить внутренний счет?')
						| Мы стараемся предоставить рекламодателю наиболее достоверную и проверенную информацию о Вашем рекламном месте. Так же как и владельцы рекламного места должны быть уверены в подлинности рекламодателя и его рекламных компаниях. Поэтому все без исключения пользователи и компании проходят верификацию у нашего специалиста.
					+question('Какие цены?')
						| Мы стараемся предоставить рекламодателю наиболее достоверную и проверенную информацию о Вашем рекламном месте. Так же как и владельцы рекламного места должны быть уверены в подлинности рекламодателя и его рекламных компаниях. Поэтому все без исключения пользователи и компании проходят верификацию у нашего специалиста.
					+question('Не нашли ответа на свой вопрос?')
						| Мы стараемся предоставить рекламодателю наиболее достоверную и проверенную информацию о Вашем рекламном месте. Так же как и владельцы рекламного места должны быть уверены в подлинности рекламодателя и его рекламных компаниях. Поэтому все без исключения пользователи и компании проходят верификацию у нашего специалиста.

				+qItem(style='display:none')
					+title(2, 'Вопросы для владельца ТС:')(mods='questions')
					+question('Какие рекламные места на данный момент есть на jata.ru?')
						| Мы стараемся предоставить рекламодателю наиболее достоверную и проверенную информацию о Вашем рекламном месте. Так же как и владельцы рекламного места должны быть уверены в подлинности рекламодателя и его рекламных компаниях. Поэтому все без исключения пользователи и компании проходят верификацию у нашего специалиста.
					+question('Как моя компания может найти рекламные места на jata.ru?')
						| Мы стараемся предоставить рекламодателю наиболее достоверную и проверенную информацию о Вашем рекламном месте. Так же как и владельцы рекламного места должны быть уверены в подлинности рекламодателя и его рекламных компаниях. Поэтому все без исключения пользователи и компании проходят верификацию у нашего специалиста.
					+question('Зачем нужна верификация?')
						| Мы стараемся предоставить рекламодателю наиболее достоверную и проверенную информацию о Вашем рекламном месте. Так же как и владельцы рекламного места должны быть уверены в подлинности рекламодателя и его рекламных компаниях. Поэтому все без исключения пользователи и компании проходят верификацию у нашего специалиста.
					+question('Как можно мониторить купленную рекламную площадку?')
						| Мы стараемся предоставить рекламодателю наиболее достоверную и проверенную информацию о Вашем рекламном месте. Так же как и владельцы рекламного места должны быть уверены в подлинности рекламодателя и его рекламных компаниях. Поэтому все без исключения пользователи и компании проходят верификацию у нашего специалиста.
					+question('Как можно пополнить внутренний счет?')
						| Мы стараемся предоставить рекламодателю наиболее достоверную и проверенную информацию о Вашем рекламном месте. Так же как и владельцы рекламного места должны быть уверены в подлинности рекламодателя и его рекламных компаниях. Поэтому все без исключения пользователи и компании проходят верификацию у нашего специалиста.
					+question('Что такое jata.ru?')
						| Мы стараемся предоставить рекламодателю наиболее достоверную и проверенную информацию о Вашем рекламном месте. Так же как и владельцы рекламного места должны быть уверены в подлинности рекламодателя и его рекламных компаниях. Поэтому все без исключения пользователи и компании проходят верификацию у нашего специалиста.