extends ../blocks/template/template

block page_id
	-var page_id = 'index'

block title
	title Title of this page

block content
	//- content here
	p Some test paragraph
	+storeBtn(apple)(mods=['margin-bottom'])
	a(href="/registration.html") eqweqweqweqweqweqweqweqw